html {
    position: relative;
    min-height: 100%;
}

body {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

.navbar-brand>h4 {
    color: rgb(200, 200, 200);
    margin-left: 20px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.works>h4 {
    text-align: left;
}

.container-left {
    margin-top: 20px;
    margin-left: 20px;
}

main {
    background-color: rgb(252, 252, 252);
    border-radius: 20px;
}

.wrapper {
    position: absolute;
    margin-bottom: 100px;
    min-height: 100%;
}

.content {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 120px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #666;
}

form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    padding: 10px;
}

.form_container>h1,
.form_container>h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
}

.title>th {
    background-color: rgb(206, 206, 206);
    padding: 10px 10px 10px 10px;
}

.data>td {
    background-color: rgb(213, 214, 255);
    padding: 10px 10px 10px 10px;
}

.data>.no {
    background-color: rgb(255, 163, 163);
}

.data>.yes {
    background-color: rgb(145, 255, 178);
}

.works>table {
    width: 830px;
}

.data>.activity {
    width: 350px;
}

.data>.finished {
    width: 130px;
}

#complete {
    width: 50px;
}

#addjob.btn {
    margin-top: 10px;
}