<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ static_css }}style.css">
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="/">
                <h1>Миссия Колонизация Марса</h1>
                <h4>И на Марсе будут яблони цвести!</h4>
            </a>
            <div class="userPanel">
                {% if current_user.is_authenticated %}
                <a class="navbar-brand" href="/logout">{{ current_user.name }}</a> {% else %}
                <p>
                    <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                    <a class="btn btn-success" href="/login">Войти</a>
                </p>
                {% endif %}
            </div>

        </nav>
    </header>
    <div class="wraper">
        <div class="content">
            <main role="main" class="container">
                {% block content %}{% endblock %}
            </main>
            <div class="footer">
                Developer dmelackov
            </div>
        </div>
    </div>

</body>

</html>